@import "tailwindcss";

:root {
  --color-primary: var(--color-blue-500);
  --color-primary-variant: var(--color-blue-300);
  --color-secondary: var(--color-green-400);
  --color-secondary-variant: var(--color-green-300);

  --vp-c-brand-1: var(--color-primary);
  --vp-c-brand-2: var(--color-primary-variant);
  --vp-c-brand-3: var(--color-primary);

  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;
}

.dark {
  --color-elevated: #000c18;
  --color-surface-1: #1c1c2a;
  --color-surface-2: #2b2b4a;
  --color-surface-3: #40406e;
  
  --vp-c-default-3: var(--color-surface-2);
  --vp-c-default-2: var(--color-surface-3);
  --vp-c-gutter: var(--color-surface-2);
  --vp-c-divider: var(--color-surface-2);

  --vp-c-bg: var(--color-surface-1);
  --vp-c-bg-alt: var(--color-elevated);
  --vp-c-bg-elv: var(--color-surface-3);
  --vp-c-bg-soft: var(--color-surface-2);
}